# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = amazon.settings

# Project: AmazonCrawler
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = a7f619bc9ce84227874e077d900db891
password =
project = 22654

